@use 'variables' as *
@use 'reset' as *
@use 'card' as card


body
  background-color: $main-dark
  color: $light
  margin:0
  padding: 0
  font-family: $family

img
  max-width: 100%

.container
  min-height: 100vh
  display: grid
  place-items: center
  padding-inline: 1em
.btn__random
  position: absolute
  bottom: -10%
  background-color: $accent
  border: none
  border-radius: 100%
  padding: 1.5em


card
